/* Vùng chứa chính */
.aboutus-content {
    display: flex;
    align-items: stretch; 
    background-color: #e5f6e5;
    gap: 0; 
    padding: 0; 
    text-align: left;
    border-radius: 10px;
    overflow: hidden; 
}

/* Phần hình ảnh */
.aboutus-image {
    width: 50%;
    height: auto;
    flex-shrink: 0;
}

.aboutus-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* Phần nội dung */
.aboutus-info {
    flex: 1;
    background-color: #e5f6e5;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Tiêu đề của nội dung */
.aboutus-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Văn bản mô tả */
.aboutus-info p {
    font-size: 16px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

/* Nút "Mua ngay" */
.learn-more-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #063B06;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.learn-more-btn:hover {
    opacity: 0.8;
  }