<div class="aboutus-content">
        
    <!-- Nội dung giới thiệu perfect match -->
    <div class="aboutus-info">
        <h2>PERFECT MATCH</h2><br>
        <p>Tìm kiếm cặp kính hoàn hảo phù hợp với khuôn mặt và phong cách của bạn chưa bao giờ dễ dàng đến thế! 
        Với tính năng Perfect Match, bạn có thể lựa chọn sản phẩm dựa trên đặc điểm khuôn mặt của mình.</p>
        <a routerLink="/perfect-match" class="learn-more-btn">Khám phá ngay →</a>
    </div>
    <!-- Hình ảnh -->
    <div class="aboutus-image">
        <img src="assets/images/aboutus2.png" alt="About Us">
    </div>
</div>