<div class="reset-password-container">
    <!-- Bên trái -->
    <div class="reset-password-left">
        <img src="assets/images/logo.png" alt="Collab Glasses" class="reset-password-banner">
    </div>

    <!-- Bên phải -->
    <div class="reset-password-right">
        <h2>Đặt lại mật khẩu</h2>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <!-- Tên đăng nhập -->
            <label>Tên đăng nhập</label>
            <input type="text" formControlName="username" placeholder="Nhập tên đăng nhập">
            <div *ngIf="resetPasswordForm.controls['username'].invalid && resetPasswordForm.controls['username'].touched">
                <p>Tên đăng nhập không hợp lệ</p>
            </div>

            <!-- Mật khẩu mới -->
            <label>Mật khẩu mới</label>
            <div class="password-container">
                <input [type]="showPassword ? 'text' : 'password'" formControlName="newPassword" placeholder="Nhập mật khẩu mới">
                <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
                
                </button>
            </div>
            <div *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched">
                <p>Mật khẩu ít nhất 8 ký tự, gồm 1 chữ hoa & 1 số</p>
            </div>

            <!-- Xác nhận mật khẩu mới -->
            <label>Xác nhận lại mật khẩu</label>
            <div class="password-container">
                <input [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword" placeholder="Xác nhận mật khẩu">
                <button type="button" class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
                   
                </button>
            </div>
            <div *ngIf="resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.controls['confirmPassword'].touched">
                <p>Mật khẩu không khớp</p>
            </div>

            <!-- Nút xác nhận -->
            <button type="submit" [disabled]="resetPasswordForm.invalid || isSubmitting">Xác nhận</button>
        </form>

        <!-- Hiển thị lỗi nếu có -->
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
</div>
