 <!-- Promotion -->
 <div class="promo-content">
    <!-- Hình ảnh -->
    <div class="promo-image">
        <img src="assets/images/promo-banner-1.png" alt="Promo Banner">
    </div>
    <div class="promo-info">
        <h2>ƯU ĐÃI THÁNG 3 - KHÔNG LO VỀ GIÁ</h2><br>
        <p>Nhanh tay lưu ngay voucher, số lượng có hạn!</p>
        <a routerLink="/promotion" class="learn-more-btn">Xem ngay →</a>
    </div>
</div>

<!-- Marquee Text -->
<div class="marquee-container">
    <p class="marquee-text">ĐỒNG HÀNH CÙNG BẠN TRÊN HÀNH TRÌNH TẠO NÊN PHONG CÁCH!</p>
</div>

<!-- Perfect match -->
<div class="perfectmatch-content">      
    <div class="perfectmatch-info">
        <h2>PERFECT MATCH</h2><br>
        <p>Mua kính online không còn là nỗi ác mộng</p>
        <a routerLink="/perfect-match" class="learn-more-btn">Thử ngay →</a>
    </div>
    <div class="perfectmatch-image">
        <img src="assets/images/promo-banner-2.png" alt="Perfect Match">
    </div>
</div>
