    <!-- Danh sách sản phẩm mới ra mắt -->
    <h2>Sản phẩm mới ra mắt</h2>
    <div class="new-arrivals">
        <div class="product-grid">
            <div class="product-item" *ngFor="let product of newArrivals | slice:0:4">
                <button class="wishlist-btn" (click)="toggleWishlist(product)">
                    <img [src]="product.isWishlisted ? 'assets/images/heart-filled.png' : 'assets/images/heart-outline.png'" 
                        alt="Wishlist" />
                </button>
                <a (click)="goToProductDetail(product._id)">
                <img [src]="product.product_image"/>
                </a>
                <div class="product-info">
                <h3><a (click)="goToProductDetail(product._id)">{{ product.product_name }}</a></h3>
                <p>{{ convertPrice(product.price) | currency:'VND' }}</p>
                <div class="rating" *ngIf="+product.average_rating !== 0">
                    ⭐ {{ product.average_rating }}/5
                  </div>
                  <div class="rating" *ngIf="+product.average_rating === 0">
                    ⭐ -/5
                  </div>
                <button class="add-to-cart" (click)="addToCart(product)">
                    Thêm vào giỏ hàng
                </button>
                </div>
            </div>
        </div>
        <button class="view-more" (click)="goToProductList()">Xem thêm</button>
    </div>
