<div class="forgot-password-container">
    <!-- Cột bên trái -->
    <div class="forgot-left">
        <img src="assets/images/logo.png" alt="Collab Glasses">
    </div>

    <!-- Cột bên phải -->
    <div class="forgot-right">
        <a routerLink="/login" class="back-link">← Quay lại đăng nhập</a>
        <h2>Bạn quên mật khẩu?</h2>
        <h5>Đừng lo chúng tôi sẽ gửi code qua email của bạn. Vui lòng nhập địa chỉ mail hoặc liên hệ với bộ phận kĩ thuật.</h5>

        <!-- Form nhập email -->
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
            <label for="email">Email</label>
            <input type="email" formControlName="email" placeholder="abc@gmail.com">
            <div *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched">
                <p>Email không hợp lệ</p>
            </div>

            <button type="submit" [disabled]="forgotPasswordForm.invalid || isSubmitting">Gửi</button>
        </form>

        <!-- Hiển thị thông báo lỗi nếu có -->
        <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
</div>
