.forgot-password-container {
    display: flex;
    height: 100vh;
}

/* Cột bên trái */
.forgot-left {
    flex: 1;
    background-color: #023B0E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5E7CE;
}

/* Cột bên phải */
.forgot-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
}

h5 {
    padding: 20px;
    font-weight: 400;
    font-size: 14px;
  }

p {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 12px;
    color: red;
}

.back-link {
    font-size: 14px;
    color: #888;
    text-decoration: none;
    padding-bottom: 10px;
}

.back-link:hover {
    text-decoration: underline;
}

label {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: #023B0E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

.error-message {
    color: red;
    margin-top: 10px;
    font-size: 12px;
}
