<div class="aboutus-content">
    <!-- Hình ảnh -->
    <div class="aboutus-image">
        <img src="assets/images/aboutus.png" alt="About Us">
    </div>
    
    <!-- Nội dung giới thiệu -->
    <div class="aboutus-info">
        <h2>ABOUT US</h2><br>
        <p>COLLAB là thương hiệu mắt kính cao cấp, mang đến sự kết hợp hoàn hảo giữa phong cách và chất lượng. 
           Chúng tôi cam kết cung cấp sản phẩm đạt tiêu chuẩn với giá thành hợp lý, giúp khách hàng có trải nghiệm tốt nhất.</p>
        <p>Ra mắt thị trường từ năm 2024, với đội ngũ chuyên gia thiết kế giàu kinh nghiệm, chúng tôi liên tục cập nhật xu hướng mới nhất để đem đến 
           những mẫu kính thời trang và hiện đại. Hãy đồng hành cùng COLLAB để khám phá thế giới kính mắt đầy phong cách!</p>
        <a routerLink="/product" class="learn-more-btn">Mua ngay →</a>
    </div>
</div>