<!-- Banner -->
<div class="banner">
    <img src="assets/images/promotion-banner.png" alt="Banner Khuyến Mãi" />
    <div class="banner-content">
      <h1>Ưu Đãi Hấp Dẫn</h1>
      <p>Nhận ngay khuyến mãi cực sốc!</p>
    </div>
  </div>

  <!-- Banner ưu đãi -->
  <div class="promo-content">
      <!-- Hình ảnh -->
      <div class="promo-image">
        <img src="assets/images/promo-banner.png" alt="Promotion Content">
      </div>
     
      <!-- Nội dung giới thiệu -->
      <div class="promo-info">
          <h2>MIỄN PHÍ GIAO HÀNG - NHẬN NGAY TỨC THỜI</h2><br>
          <p>Miễn phí vận chuyển cho đơn hàng từ 500K! Mua sắm thả ga, không lo phí ship.</p>
          <a routerLink="/product" class="learn-more-btn">Mua ngay →</a>
      </div>
  </div>
