.login-container {
    display: flex;
    height: 100vh;
}

/* Bên trái */
.login-left {
    flex: 1;
    background-color: #023B0E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5E7CE;
}


/* Bên phải */
.login-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}  

h2 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 30px;
  }

  h5 {
    padding: 20px;
    font-weight: 400;
    font-size: 14px;
  }

h4 {
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

p {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 12px;
    color: red;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.checkbox-group input[type="checkbox"] {
    width: 16px; 
    height: 16px; 
    cursor: pointer;
}

.forgot-password {
    color: #023B0E;
    font-weight: bold;
    text-decoration: none;
}

button {
    width: 100%;
    background-color: #023B0E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.toggle-password {
    position: absolute;
    left: 670px;
    bottom: 23%; 
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.toggle-password img {
    width: 20px;
    height: 20px;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.toggle-password img:hover {
    opacity: 1;
}


.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.social-buttons a {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 5px;
}

.facebook { background-color: #1877F2; }
.google { background-color: #DB4437; }
.apple { background-color: black; }

.error-message {
    color: red;
    margin-top: 10px;
}
