<div class="account-container">
  <!-- Sidebar điều hướng -->
  <div>
    <app-sidebar></app-sidebar>
  </div>

  <!-- Nội dung chính -->
  <div class="account-content">
    <h1>Tài khoản của tôi</h1>

    <!-- Form cập nhật thông tin cá nhân -->
    <form (submit)="updateUserInfo()">
      <div class="section">
        <h2>Chi tiết tài khoản</h2>
        <label>Họ*</label>
        <input type="text" [(ngModel)]="customer.last_name" name="last_name" placeholder="Nhập họ" required />

        <label>Tên*</label>
        <input type="text" [(ngModel)]="customer.first_name" name="first_name" placeholder="Nhập tên" required />

        <label>Email*</label>
        <input type="email" [(ngModel)]="customer.email" name="email" placeholder="Nhập Email" required />

        <button type="submit">Lưu thông tin</button>
      </div>
    </form>

    <!-- Form đổi mật khẩu -->
    <div class="section">
      <h2>Mật khẩu</h2>
      <label>Mật khẩu cũ</label>
      <input type="password" [(ngModel)]="password.oldPassword" name="oldPassword"
             placeholder="Nhập mật khẩu cũ" required autocomplete="new-password"/>
      
      <label>Mật khẩu mới</label>
      <input type="password" [(ngModel)]="password.newPassword" name="newPassword"
             placeholder="Nhập mật khẩu mới" required/>
      
      <label>Xác nhận mật khẩu mới</label>
      <input type="password" [(ngModel)]="password.confirmNewPassword" name="confirmNewPassword"
             placeholder="Nhập lại mật khẩu mới" required/>
            
      <button (click)="changePassword()" type="button">Đổi mật khẩu</button>
    </div>
  </div>
</div>
