 <!-- Danh mục chính sách -->
 <div class="policy-list">
    <h3>Tất cả chính sách</h3>
    <div class="policy-grid">
      <a class="policy-item" routerLink="/policy-return">
        <img src="assets/images/return-policy.png" alt="Chính sách đổi trả" />
        <h4>Chính sách đổi trả</h4>
      </a>

      <a class="policy-item" routerLink="/policy-shipping">
        <img src="assets/images/shipping-policy.png" alt="Chính sách giao hàng" />
        <h4>Chính sách giao hàng</h4>
      </a>

      <a class="policy-item" routerLink="/policy-security">
        <img src="assets/images/security-policy.png" alt="Chính sách bảo mật" />
        <h4>Chính sách bảo mật</h4>
      </a>

      <a class="policy-item" routerLink="/policy-payment">
        <img src="assets/images/payment-policy.png" alt="Chính sách thanh toán" />
        <h4>Chính sách thanh toán</h4>
      </a>
    </div>
  </div>