    <!--  Mô tả về Collab -->
    <div class="quality-container">
        <div class="quality-title">
            <h2>Độc đáo/<br> Chất lượng</h2>
        </div>
        <div class="quality-description">
            <p>
                <strong>Collab</strong> là một thương hiệu kính mắt cao cấp, mang đến những thiết kế hiện đại và độc đáo.
                Với chất liệu cao cấp, mỗi sản phẩm của Collab đều đảm bảo chất lượng tối ưu, giúp bảo vệ đôi mắt
                và thể hiện phong cách riêng biệt.
            </p>
        </div>
    </div>

