<footer class="footer">
  <div class="footer-container">
    <!-- Logo, tagline và thông tin liên hệ -->
    <div class="footer-left">
      <div class="footer-logo">
        <span class="logo">COLLAB.</span>
        <span class="separator"></span>
        <span class="tagline">GLASSES AND TRENDY</span>
      </div>
      <div class="footer-contact">
        <p>Địa chỉ: 669 Đỗ Mười, Khu phố 6, phường Linh Xuân, TP Thủ Đức, TP HCM</p>
        <p>Email: support&#64;collabeyewear.com</p>
        <p>Liên hệ: +84 77 567 567</p>
      </div>
      <!-- Icon mạng xã hội -->
      <div class="social-icons">
        <a href="#"><img src="assets/images/instagram.png" alt="Instagram" /></a>
        <a href="#"><img src="assets/images/facebook.png" alt="Facebook" /></a>
        <a href="#"><img src="assets/images/youtube.png" alt="YouTube" /></a>
      </div>
    </div>

    <!-- Menu Footer -->
    <nav class="footer-menu">
      <h4><a routerLink="home">Trang chủ</a></h4>
      <div class="footer-section">
        <h4><a routerLink="policy">Chính sách</a></h4>
          <ul>
            <li><a routerLink="policy-return">Đổi trả</a></li>
            <li><a routerLink="policy-shipping">Giao hàng</a></li>
            <li><a routerLink="policy-security">Bảo mật</a></li>
            <li><a routerLink="policy-payment">Thanh toán</a></li>
          </ul>
      </div>
      <h4><a routerLink="product">Sản phẩm</a></h4>
      <h4><a routerLink="blog">Blog</a></h4>
      <h4><a routerLink="aboutus">Về chúng tôi</a></h4>
    </nav>
  </div>

  <!-- Đường kẻ ngang -->
  <hr class="footer-divider" />

  <!-- Nội dung bản quyền -->
  <div class="footer-copyright">
    © 2025 Collab Eyewear. All rights reserved.
  </div>
</footer>
