<div class="forgot-password-after-container">
    <!-- Bên trái -->
    <div class="forgot-password-after-left">
        <img src="assets/images/logo.png" alt="Collab Glasses" class="forgot-password-banner">
    </div>

    <!-- Bên phải -->
    <div class="forgot-password-after-right">
        <h2>Nhập mã xác thực</h2>
        <h5>Vui lòng nhập code được gửi qua email</h5>

        <form [formGroup]="forgotPasswordAfterForm" (ngSubmit)="verifyCode()">
            <!-- Tên đăng nhập -->
            <label>Tên đăng nhập</label>
            <input type="text" formControlName="username" placeholder="Nhập tên đăng nhập">
            <div *ngIf="forgotPasswordAfterForm.controls['username'].invalid && forgotPasswordAfterForm.controls['username'].touched">
                <p>Vui lòng nhập tên đăng nhập</p>
            </div>

            <!-- Mã OTP -->
            <label>Code</label>
            <div class="input-container">
                <input type="{{showCode ? 'text' : 'password'}}" formControlName="code" placeholder="Nhập code">
                <span class="toggle-password" (click)="toggleCodeVisibility()">
                </span>
            </div>
            <div *ngIf="forgotPasswordAfterForm.controls['code'].invalid && forgotPasswordAfterForm.controls['code'].touched">
                <p>Vui lòng nhập code</p>
            </div>

            <!-- Nút xác nhận -->
            <button type="submit" [disabled]="forgotPasswordAfterForm.invalid || isSubmitting">Xác nhận</button>

            <!-- Hiển thị lỗi -->
            <p class="error-message" *ngIf="errorMessage">{{ errorMessage }}</p>
        </form>
    </div>
</div>
