.forgot-password-after-container {
    display: flex;
    height: 100vh;
}

/* Bên trái */
.forgot-password-after-left {
    flex: 1;
    background-color: #023B0E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5E7CE;
}

/* Bên phải */
.forgot-password-after-right {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
}

h5 {
    padding: 20px;
    font-weight: 400;
    font-size: 14px;
  }

p {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 12px;
    color: red;
}

label {
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Ô nhập có icon mắt */
.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 23px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px;
    height: 20px;
}

/* Checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.checkbox-group input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* Nút xác nhận */
button {
    width: 100%;
    background-color: #023B0E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    color: red;
    margin-top: 10px;
}
